.app-aside {
  min-width:40vh;
  min-height: 100%;
  background-color: #F7F7F7;
  font-size: calc(10px + 2vmin);
}

.app_name{
  font-size: 18px;
  padding: 8px;
}

.Aside_MenusList{
  margin: 0;
  padding: 0;
  margin-top: 4vh;
  list-style-type:none;
  text-align: center;
}

.Aside_MenusList li{
  padding-left: 4vh;
  padding-top: 2vh;
  text-align:left;
}

.Aside_MenusList li a{
  font-size: 18px;
  text-decoration:none
}
