.myform_div{
  padding-top: 32px;
  width: 400px;
  /* background:#000; */
}

.cancel{
  margin-left: 0px;
}

.btnOK{
  margin-left: 16px;
}

.img_prv {
  width:80px;
  height:80px;
  object-fit: cover;
  margin-right: 5px;
}

.channel_more_action h3 {
  color:#535353;
}

.channel_more_action hr {
  border: none;
	height: 1px;
	background-color: #E8E8E8;
}

.channel_more_action button {
  margin-left:40px;
  margin-right:15px;
}

.channel_more_action .danger {
  color:red;
}
